~root~=build
<nav class="navbar">
	<div id="nav-home">
		<a href="~root~/index.html">Home</a>
	</div>
	<div class="dropdown">
		My projects
		<div id="gh-projects" class="dropdown-options">
			<a class="dropdown-item" href="~root~/projects/CR.html">CR</a>
			<a class="dropdown-item" href="~root~/projects/Galaga_clone.html">Galaga_clone</a>
			<a class="dropdown-item" href="~root~/projects/Game_engine.html">Game_engine</a>
			<a class="dropdown-item" href="~root~/projects/kana_learn.html">kana_learn</a>
			<a class="dropdown-item" href="~root~/projects/leomonta.github.io.html">leomonta.github.io</a>
			<a class="dropdown-item" href="~root~/projects/netTcpSsl.html">netTcpSsl</a>
			<a class="dropdown-item" href="~root~/projects/PSC.html">PSC</a>
			<a class="dropdown-item" href="~root~/projects/Python_cpp_builder.html">Python_cpp_builder</a>
			<a class="dropdown-item" href="~root~/projects/ReMon.html">ReMon</a>
			<a class="dropdown-item" href="~root~/projects/sns.html">sns</a>
			<a class="dropdown-item" href="~root~/projects/st.html">st</a>
			<a class="dropdown-item" href="~root~/projects/veneto_anki.html">veneto_anki</a>
		</div>
	</div>
</nav>
