* {
	font-family: "Fira Code", Consolas, monospace;
}

.navbar {
	list-style-type: none;
	background-color: #aaa;
	text-decoration: none;
	color: black;
	font-size: medium;
	padding: 0.5rem;
	margin: 0.5rem;
}

.dropdown {
	display: inline-block;
	position: relative;
	font-size: medium;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

#nav-home {
	font-size: larger;
	font-weight: bold;
	padding: 1rem;
	display: inline;
}

.dropdown-options {
	display: none;
	position: absolute;
	overflow: auto;
	background-color: #ccc;
	padding: 0.5rem;
}

.dropdown-options a {
	display: block;
	padding: 2px;
	border-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.dropdown:hover .dropdown-options {
	display: block;
}

.centered {
	text-align: center;
}

.big-lr-margins {
	margin-left: 25rem;
	margin-right: 25rem
}

.auto-lr-margins {
	margin-left: auto;
	margin-right: auto;
}

.rokus img {
	width: 25px;
	height: 25px;
}

.feature-table {
	font-size: small;
	border: solid black
}

.feature-table tbody {
	border: solid black
}

.feature-table th, td {
	margin-left: none;
	margin-right: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.form-spacer {
	padding: 2vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	border: 1px solid grey;
	border-radius: 10px;
}

.no-resize {
	resize: none;
}

.no-border {
	border: none;
}

.simple-input {
	resize: none;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid grey;
	border-radius: 2px;
	width: 100%;
}

.no-bg-col {
	background-color: rgba(255, 255, 255, 0)
}

.submit-button {
	background-color: lightgreen;
	float: right;
	width: auto;
}

.reset-button {
	background-color: lightblue;
	float: left;
	width: auto;
}

.clearfix {
	float: none;
	clear: both;
}
